<?xml version="1.0"?>
<model>
  <name>trizd1250</name>
  <version>1.0</version>
  <sdf version='1.6'>trizd1250.sdf</sdf>

  <author>
   <name>ZJM</name>
   <email>15651882638@163.com</email>
  </author>

  <description>
    This is a model of a triangular zd1250 hexacopter.
  </description>
</model>
